extends base
block Indexcss
block content
    
    section
        .container
            .row(style='margin-top: 120px;')
                .col-6
                    h4= `Hello, ${businessUser.businessName}`
                    a.mx-1(href='#') View and Edit Profile
                .col-6
                    form#pixelform
                            .form-group.mx-3
                                p Facebook Pixel Id:
                            .form-group.mx-3.mb-2
                                label.sr-only(for='pixelId')
                                input#pixelId.form-control(type='number', min='11', value=businessUser.facebookPixel)
                                a(href=`/purchasepixel/${businessUser.id}`) Test your Pixel
                            button.btn.btn-primary.ml-3(type='submit') Update
        section
        .container
            .row.my-5
                #card2.col-12.col-md-6.col-xl-4
                    .card.border-1.shadow-sm
                        .card-body.py-5
                            h6 RiraPay Wallet Balance
                            h3  &#x20A6;0.00
                #card2.col-12.col-md-6.col-xl-4
                    .card.border-1.shadow-sm
                        .card-body.py-5
                            h6 Sales
                            .btn-group
                            a.btn#button-sales.btn.btn-sm.dropdown-toggle.justify-content-end(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                | Today
                            #dropdownbtn.dropdown-menu.sales-today
                                a(href='#sumOfSalesToday') Today
                                a(href='#sumOfSalesWeek') This Week
                                a(href='#sumOfSalesMonth') This Month

                            h3#sumOfSalesToday.sales-toggle=`₦ ${salesToday}`
                            h3#sumOfSalesWeek.sales-toggle(style='display:none')= `₦ ${salesWeek}`
                            h3#sumOfSalesMonth.sales-toggle(style='display:none')= `₦ ${salesMonth}`                        
                                        
                #card2.col-12.col-md-6.col-xl-4
                    .card.border-1.shadow-sm
                        .card-body.py-5
                            h6 Transactions
                            .btn-group
                            a.btn#button-trans.btn.btn-sm.dropdown-toggle.justify-content-end(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                | Today
                            #dropdownbtn.dropdown-menu.trans-today
                                a(href='#sumOfTransToday') Today
                                a(href='#sumOfTransWeek') This Week
                                a(href='#sumOfTransMonth') This Month
                            h3#sumOfTransToday.trans-toggle=`₦ ${transToday}`
                            h3#sumOfTransWeek.trans-toggle(style='display:none')= `₦ ${transWeek}`
                            h3#sumOfTransMonth.trans-toggle(style='display:none')= `₦ ${transMonth}`
                             

    section.large-view-table
        .large-container.mb-5
            .row
                .col-12
                        .card-body.py-5.mx-2
                            ul.list-group
                                    li.d-flex.justify-content-between
                                        h4.d-flex.justify-content-between Latest Orders:
                            - const busOrder = businessUser.orders;
                            if (busOrder.length)
                                table.table.table-condensed.table-hover                       
                                    thead
                                        tr
                                            th Date
                                            th Product Name
                                            th Status
                                            th Customer
                                            th Amount
                                            th Tags

                                    tbody
                                        each orders in businessUser.orders.reverse().slice(0, 10)
                                            each product in orders.product
                                            

                                                -const Date = moment(orders.createdAt).format('dddd, MMMM Do YYYY, h:mm:ss a');
                                                -const orderTotal = orders.total.toLocaleString()

                                            

                                                tr.table-row(style= 'height: 65px' data-href=`/myorder/${product.id}/${orders._id}`)
                                                
                                                    td
                                                        a(href=`/myorder/${product.id}/${orders._id}`)=Date
                                                                                            
                                                    td
                                                        a(href=`/myorder/${product.id}/${orders._id}`)= product.productName
                                                    td
                                                        a(href=`/myorder/${product.id}/${orders._id}`)= orders.status
                                                    td
                                                        a(href=`/myorder/${product.id}/${orders._id}`)=orders.name                              
                                                    td
                                                        a(href=`/myorder/${product.id}/${orders._id}`)=`₦${orderTotal}`
                                                    td(colspan='2')
                                                        a(href=`/myorder/${product.id}/${orders._id}`)=orders.tags
                                        //- if (!orders)
                                        //-     .text-center
                                        //-         p You have no Orders Right now. Create a Product and Start Selling!
                                            
                                .text-center.mb-3
                                    h6
                                        a(href='/allbusorders') View All orders
                            if (!busOrder.length)
                                .text-center
                                    p.mt-2(style='font-size: 1.2rem;') You don't have an order for now. Create a new product and share the link to your customers to pay through RiraPay
                                .text-center
                                    a(style='font-size: 1.2rem;' href='/createproduct') Create New Product                             
    section.large-view-table
        .large-container
            .row
                .col-12                        
                    .card-body.py-5.mx-2
                            ul.list-group
                                li.d-flex.justify-content-between
                                    h4.d-flex.justify-content-between Latest Products:  
                                    h6
                                        a(href='/createproduct') Create New Product
                        
                            table.table.table-condensed.table-hover                       
                                thead
                                    tr
                                        th Date
                                        th Product Name
                                        th Stock
                                        th Amount

                                tbody
                                    each product in businessUser.products.reverse().slice(0, 10)

                                        - const Date = moment(product.date).format('dddd, MMMM Do YYYY, h:mm:ss a');
                                        -const productprice = product.price.toLocaleString()

                                        tr.table-row(data-href=`/myproduct/${product.slug}/${product._id}`)
                                    
                                            td
                                                a(href=`/myproduct/${product.slug}/${product._id}`)=Date
                                            td
                                                a(href=`/myproduct/${product.slug}/${product._id}`)=product.productName
                                            td
                                                a(href=`/myproduct/${product.slug}/${product._id}`)=product.stock                                
                                            td
                                                a(href=`/myproduct/${product.slug}/${product._id}`)= `₦${productprice}`
                                    
                            .text-center.mb-3
                                h6
                                    a(href='/allproducts') View All Products

    section
        .small-container
            ul.list-group.my-4
                li.d-flex.justify-content-between
                h4.d-flex.justify-content-between Latest Orders:
            if (busOrder.length)
                each orders in businessUser.orders.slice(0, 10)
                    each product in orders.product
                        -const orderTotal = orders.total.toLocaleString()
                        -const mobiledate = moment(orders.createdAt).format('DD/MMM/YY');

                        .mini-table(data-href=`/myorder/${product.id}/${orders._id}`)
                            .row.clickable-row.no-gutters.mx-3.py-2.px-2.border-top.border-bottom
                                .col-9
                                    p.m-0 
                                        a(target='_blank' href=`/myorder/${product.id}/${orders._id}`)
                                            b= `₦${orderTotal}`
                                    p.m-0 
                                        a(target='_blank' href=`/myorder/${product.id}/${orders._id}`)= orders.name
                                .col-3
                                    p.m-0 
                                    a(target='_blank' href=`/myorder/${product.id}/${orders._id}`)= orders.status
                                    p.m-0 
                                    a(target='_blank' href=`/myorder/${product.id}/${orders._id}`)= mobiledate
                .text-center.my-3
                    h6
                        a#sign-up-button.btn(href='/allbusorders') View All orders
            if (!busOrder.length)
                .text-center
                    p.mt-2(style='font-size: 1.2rem;') You don't have an order for now. Create a new product and share the link to your customers to pay through RiraPay
                .text-center
                    a#sign-up-button.btn(href='/createproduct') Create your first Product


    section(style = 'margin-top: 150px;')
        .small-container
            - const busproducts = businessUser.products;
            if (busproducts.length)
                ul.list-group.my-4
                    li.d-flex.justify-content-between
                        h4.d-flex.justify-content-between Latest Product:
                        a#sign-up-button.btn(href='/createproduct') Create New Product
                each product in businessUser.products.slice(0, 10)
                    -const productprice = product.price.toLocaleString()
                    - const mobiledate = moment(product.date).format('DD/MMM/YY');

                    .mini-table(data-href=`/myproduct/${product.slug}/${product._id}`)
                        .row.clickable-row.no-gutters.mx-3.py-2.px-2.border-top.border-bottom
                            .col-9
                                p.m-0 
                                    a(target='_blank' href=`/myproduct/${product.slug}/${product._id}`)
                                        b= `${product.productName}`
                                p.m-0 
                                    a(target='_blank' href=`/myproduct/${product.slug}/${product._id}`)= `Stock: ${product.stock}`
                                p.m-0 
                                    a(target='_blank' href=`/myproduct/${product.slug}/${product._id}`)= `Price: ₦${productprice}`
                            .col-3
                                p.mt-3
                                a(target='_blank' href=`/myproduct/${product.slug}/${product._id}`)= mobiledate
                .text-center.my-3
                    h6
                        a#sign-up-button.btn(href='/allproducts') View All Products
            if (!busproducts.length)
                .text-center
                    p.mt-2(style='font-size: 1.2rem;') Create your first product and share to your social media buyers
                .text-center
                    a#sign-up-button.btn(href='/createproduct') Create your first Product