extends base
block Indexcss
block content
    
    section
        .form-container(style='margin-top: 150px;')
            #card-order.card.border-5.box-shadow
                .card-block.py-5
                    #border-row.row.mx-1.mx-lg-5.mx-md-5
                        #pro-descirpt.col-12
                            - const Date = order.date.toDateString();
                            -order.status = 'paid';

                            h5#ord-text.ml-0= product.productName
                            p#ord-text
                            b Quality: 
                            = cart.qty
                            p#ord-text
                            b Order Id: 
                            = order.id
                            p#ord-text
                            b Date Created: 
                            =Date
                            p#ord-text
                            b Additional Information: 
                            =product.additionalInfo
                            

                            h3#ord-text.price-bold=`#${cart.total}`

                    - if (order.status === 'incomplete')
                        #border-row.row.mx-1.mx-lg-5.mx-md-5
                            .col-12
                                p.mx-3.my-2 
                                    b Status: 
                                    |Incomplete (Buyer is yet to complete Payment) 

                    - if (order.status === 'paid')
                        #border-row.row.mx-1.mx-lg-5.mx-md-5
                            .col-12
                                p.mx-3.my-2 
                                    b Status: 
                                    | Paid (Buyer has completed payment for the order. You have 48 hours to ship) 

                    - if (order.status === 'shipped')
                        #border-row.row.mx-1.mx-lg-5.mx-md-5
                            .col-12
                                p.mx-3.my-2 
                                    b Status: 
                                    | Shipped (Order has been shipped, wait for it to be delivered) 
                    #border-row.row.mx-1.mx-lg-5.mx-md-5.my-3
                        .col
                            -const tags = order.tags.join(",");
                            form#tagsform
                                label(for='order-tags').my-2 Order Tags
                                input#order-tags.form-control( type='text', value=tags data-role='tagsinput',)
                                medium.form-text.mt-3.mx-1
                                    | Add tags that stand as a reminder
                                input#orderid(type='hidden', name='orderid', value= order.id) 
                                button#checkout1-button.btn.btn-sm.my-2( type='submit') Create Tag

                                
                    nav
                        #nav-tab.nav.nav-tabs.nav-justified.mx-5.my-5(role='tablist')
                            a#nav-del-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-deliver-info', role='tab', aria-controls='nav-deliver-info', aria-selected='true') Delivery Information
                            a#nav-order-tab.nav-item.nav-link(data-toggle='tab', href='#nav-order-details', role='tab', aria-controls='nav-order-details', aria-selected='false') Order Details
                    #nav-tabContent.tab-content
                        #nav-deliver-info.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-del-tab')
                            #border-row.row.mx-1.mx-lg-5.mx-md-5
                                .col-12.mx-1.mx-lg-2.mx-md-2.my-5
                                    .delivery-info
                                    p Product Name: #{product.productName}

                                    p  Name: #{order.name}
                        
                                    p  Address: #{order.address}
                                    
                                    p State: #{order.state}
                                    
                                    p City:  #{ order.area}
                                    
                                    p
                                        | Phone: 
                                        a(href=`tel:${order.phone}`)= order.phone 
                                    p
                                        | Alternative Phone Number:
                                        a(href=`tel:${order.altphone}`)= order.altPhone
                                    .text-center
                                        button.btn(data-clipboard-text=`${product.productName} ${order.name} ${order.address} ${order.state} ${order.area} ${order.phone} ${order.altPhone} `, style='background-color: #01afee; color: white;')
                                            | Copy Everything

                        #nav-order-details.tab-pane.fade(role='tabpanel', aria-labelledby='nav-order-tab')
                            p.mx-3
                                | This order is currently Incomplete which means Buyer has not paid for the product through Rirapay.
                                | You can contact the buyer to encourage them to pay or you deliver offline
