extends base
block Indexcss
block script
block content

        section
            .form-container(style= 'margin-top: 150px;')
                form.edit-product-form
                    .text-center.py-4
                        h3.pt-3= `Edit ${product.productName}`
                    .row.mx-2.py-3
                        .col
                            label(for='editproductName') Product Name (Required)
                            input#editproductName.form-control(type='text', required='' value= product.productName)
                    .row.mx-2.py-3
                        .col
                            label(for='editproductStock') Quantity Availabe (required)
                            input#editproductStock.form-control(type='number', required='' value= product.stock)
                    .row.mx-2.py-3
                        .col
                            | Description
                            
                            //- input#editProductDescription(type='hidden', name='businessUser', value= product.additionalInfo)
                            textarea#editadditionalInfo.form-control(name='editordata') !{product.additionalInfo}
                    p.mx-3.mt-4
                        b  Pricing:
                    p.mx-4.mt-3.mb-2 
                        b Type:
                    .row.mx-2.py-3
                        .col-8
                            select#productPriceType.form-control
                                if (product.price > 0)
                                    option#oneProductPrice(selected='', value='onePriceForm') One Price
                                    option#varientProductPrice( value='promoPriceForm') Varient Prices
                                else
                                    option#oneProductPrice( value='onePriceForm') One Price
                                    option#varientProductPrice( selected='', value='promoPriceForm') Varient Prices
                    
                    #onePriceForm
                        .row.mx-2.py-3
                            .col-8
                                .input-group
                                    .input-group-prepend
                                        .input-group-text ₦
                                    input#productPrice.form-control(type='number', placeholder='Price' value=product.price)
                    -const promoPriceArray = product.promoQtyPrice.join(',').replace(/Naira/g, '').replace(/\s/g, "").split(',');
                    -const newPromoPriceArray = promoPriceArray.filter(e => e !== '0=0');
                    -const promoPricesQty = newPromoPriceArray.join(',').replace(/=/g, ",").split(',')
                    #promoPriceForm
                        .row.mx-2.py-3
                            if (promoPricesQty[0])
                                .col-7
                                    input#editPromoQty.form-control(type='text', placeholder='Quantity 1' value= promoPricesQty[0])
                                .col-5
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ₦
                                        input#editPromoPrice.form-control(type='number', placeholder='Price 1' value= promoPricesQty[1])
                            else
                                .col-7
                                    input#editPromoQty.form-control(type='text', placeholder='Quantity 1')
                                .col-5
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ₦
                                        input#editPromoPrice.form-control(type='number', placeholder='Price 1')
                        .row.mx-2.py-3
                            if (promoPricesQty[2])
                                .col-7
                                    input#editPromoQty2.form-control(type='text', placeholder='Quantity 2' value=promoPricesQty[2])
                                .col-5
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ₦
                                        input#editPromoPrice2.form-control(type='number', placeholder='Price 2' value=promoPricesQty[3])
                            else
                                .col-7
                                    input#editPromoQty2.form-control(type='text', placeholder='Quantity 2' )
                                .col-5
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ₦
                                        input#editPromoPrice2.form-control(type='number', placeholder='Price 2')
                        .row.mx-2.py-3
                            if (promoPricesQty[4])
                                .col-7
                                    input#editPromoQty3.form-control(type='text', placeholder='Quantity 3' value=promoPricesQty[4])
                                .col-5
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ₦
                                        input#editPromoPrice3.form-control(type='number', placeholder='Price 3' value=promoPricesQty[5])
                            else
                                .col-7
                                    input#editPromoQty3.form-control(type='text', placeholder='Quantity 3')
                                .col-5
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ₦
                                        input#editPromoPrice3.form-control(type='number', placeholder='Price 3')
                        .row.mx-2.py-3
                            if (promoPricesQty[6])
                                .col-7
                                    input#editPromoQty4.form-control(type='text', placeholder='Quantity 4' value=promoPricesQty[6])
                                .col-5
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ₦
                                        input#editPromoPrice4.form-control(type='number', placeholder='Price 4' value=promoPricesQty[7])
                            else
                                .col-7
                                    input#editPromoQty4.form-control(type='text', placeholder='Quantity 4')
                                .col-5
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ₦
                                        input#editPromoPrice4.form-control(type='number', placeholder='Price 4')
                        //- .row.mx-2.py-3
                        //-     .col
                        //-         label(for='editproductPrice') Price (required)
                        //-         input#editproductPrice.form-control(type='number', required='' value= product.price)
                    .row.mx-2.py-3
                        .col
                            label(for='#editinputDiscount') Discount for RiraPay orders
                            .input-group.w-50
                                input#editinputDiscount.form-control(type='number', value= product.discount)
                                .input-group-append
                                .input-group-text %
                    p.mx-3.mt-4 
                        b Variants(Optional):
                    .row.mx-3.my-4
                        .col
                            -const newProductColours = product.colours.join(',');
                            label(for='edit-color-tags').my-2 Color
                            input#edit-color-tags.form-control(style= 'width: 25rem; height: 4rem;' type='text', value=newProductColours  data-role='tagsinput' )
                            small.form-text Seperate each color with comma.
                    .row.mx-3.mb-5
                        .col
                            -const newProductSizes = product.sizes.join(',');
                            label(for='edit-size-tags').my-2 Size
                            input#edit-size-tags.form-control( type='text', value=newProductSizes data-role='tagsinput',)
                            small.form-text Seperate each size with comma.

                            input#productId(type='hidden', value= product._id)
                    .text-center
                        button#sign-up-button.btn.btn-lg.my-1.mx-auto.d-block(type='submit') update
                        
                script.
                    $(document).ready(function() {
                        $('#editadditionalInfo').summernote();
                        });
                    $(document).ready( function() {
                        var priceTypeVal = $('#productPriceType').val();
                        if (priceTypeVal === 'onePriceForm') {
                            $('#onePriceForm').show();
                            $('#promoPriceForm').hide();
                        }
                        if (priceTypeVal === 'promoPriceForm') {
                            $('#onePriceForm').hide();
                            $('#promoPriceForm').show;
                        }
                    });