extends base
block Indexcss
block content

    section
        -const productprice = product.price.toLocaleString()
        .form-container(style='margin-top: 120px;')
            .row.no-gutters.mx-2
                .col-12
                    .card.border-0.box-shadow
                        .card-block
                            h5= product.productName
                            .d-flex.mx-2.mb-3.mt-5
                                p.font-weight-bold Product Price:
                                p.mx-5= `₦${productprice}`
                            .d-flex.mx-2.my-3
                                p.font-weight-bold Product Stock:
                                p.mx-5= product.stock
                            .d-flex.mx-2.my-3
                                p.font-weight-bold Additional Info:
                                p.mx-4= product.additionalInfo
                            .d-flex.mx-2.my-3
                                p.font-weight-bold Discount:
                                p.mx-4= `${product.discount}%`
                            .d-flex.mx-2.my-3
                                p.font-weight-bold Product link
                                .mx-2
                                    button.btn(data-clipboard-text=`${protocol}/product/${product.slug}/${product.id}/${businessUser.id}`, style='background-color: #01afee; color: white;')
                                        | Copy Link
                                    a(href= `/product/${product.slug}/${product.id}/${businessUser.id}` target="_blank")
                                        input.btn.ml-1( type='button' value='Preview' style='background-color: #01afee; color: white;')
                                        
                        h6.text-center.py-3
                            a(href='#') Edit Product