extends base
block Indexcss
block content

    section
        -const productprice = product.price.toLocaleString()
        .form-container(style='margin-top: 120px;')
            .row.no-gutters.mx-2
                .col-12
                    .card.border-0.box-shadow
                        .card-block
                            h5= product.productName
                            .d-flex.mx-2.mb-3.mt-5
                                p.font-weight-bold Product Price:
                                p.mx-5= `₦${productprice}`
                            .d-flex.mx-2.my-3
                                p.font-weight-bold Product Stock:
                                p.mx-5= product.stock
                            if (product.discount > 0)
                                .d-flex.mx-2.my-3
                                    p.font-weight-bold Discount:
                                    p.mx-4= `${product.discount}%`
                            else
                                .d-flex.mx-2.my-3
                                    p.font-weight-bold Discount:
                                    p.mx-4 None
                            
                            if (product.colours != "")
                                .selectColorOptions
                                    .d-flex.mx-2.my-3
                                        p.font-weight-bold Colours:
                                        -const newProductColours = product.colours.join(',');
                                        input#productColours(type='hidden', name='productColours', value= newProductColours)
                                        select#selectColours.form-control.ml-1.w-50
                                            
                            if (product.sizes != "")
                                .selectSizeOptions
                                    .d-flex.mx-2.my-3
                                        -const newProductSizes = product.sizes.join(',');
                                        input#productSizes(type='hidden', name='productSizes', value= newProductSizes)
                                        p.font-weight-bold Size:
                                        select#selectSizes.form-control.ml-1.w-50
                                            
                            .d-flex.mx-2.my-3
                                p.font-weight-bold Description:
                                p.mx-4 Click Preview to see Description
                                
                            .d-flex.mx-2.my-3
                                p.font-weight-bold Product link
                                .mx-2
                                    button.btn(data-clipboard-text=`${protocol}/buy/${product.slug}/${product.id}/${businessUser.id}`, style='background-color: #01afee; color: white;')
                                        | Copy Link
                                    a(href= `/buy/${product.slug}/${product.id}/${businessUser.id}` target="_blank")
                                        input.btn.ml-1( type='button' value='Preview' style='background-color: #01afee; color: white;')
                                        
                        h6.text-center.py-3
                            a(href=`/edit/${product.slug}/${product._id}`) Edit Product