extends base

block header
block Indexcss
block footer
block content

    script.
        fbq('track', 'Purchase');
    section
        .container
            .text-center
                img(src='#')
                h2(style='color: black; margin-top: 30px;') You&apos;re 100% safe when you Buy with Rirapay
                        
    section
        -const orderTotal = order.total.toLocaleString()
        -const discount = (product.discount/100) * order.total
        -const discountPrice = (order.total - discount)
        -const strdiscountprice = discountPrice.toLocaleString()
        if (product.price > 0)
            -var productprice = product.price.toLocaleString()
        else 
            -var productprice = orderTotal.toLocaleString()

        .larger-container(style='margin-top: 50px; margin-bottom: 150px;')
            .card-body.p-3.mx-2.mb-3.pt-0
                if (product.codOption === true)
                    p#form-heading.text-center.mb-5(style='font-size: 1.4rem;')= `Do you know with RiraPay, you enjoy faster delivery and 7 days Money-Back Guaranteed if this product doesn't work as described? Scroll down to learn More`
                else
                    p#form-heading.text-center.mb-5(style='font-size: 1.4rem;')= `Make Payment With RiraPay below to Validate Order and enjoy 7 days Money-back Guranteed.`

                section#what-rira-checkout
                    #accordion.my-5
                        .card
                            #headingOne.card-header.p-1
                                h2.mb-0.text-center(style = 'background-color: white')
                                    button.btn.btn-link(data-toggle='collapse', data-target='#what_is_rira', aria-expanded='true', aria-controls='what_is_rira')
                                        .text-center
                                            | What is RiraPay? (click here)
                            #what_is_rira.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                                .card-body
                                    p Rirapay is a Middleman that serves as an intermediary between you and a merchant. RiraPay makes you enjoy the quality of products you buy online
                        .card
                            #headingTwo.card-header.p-1
                                h2.mb-0.text-center(style = 'background-color: white')
                                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#why__rira', aria-expanded='false', aria-controls='why__rira')
                                        | How is RiraPay better than Pay on Delivery?(click here)
                            #why__rira.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                                .card-body
                                    ul
                                        li You Enjoy 48 hours shipping
                                        li 7 Days Money-back Guarantee : You have 7 days to test the Quality of the product after being delivered
                                        li Fast Refund: Not satisfied with the product? You get your money back directly into you bank account within 48 hours!
                                        li Enjoy huge discount also

                                    p.text-center
                                        a(href='/')  Learn More About Rirapay
                h4 Confirm Your Order Details:
                .row.mx-3
                    .col-12
                        p.m-1.small=`Name: ${order.name}  `
                        p.m-1.small= `Phone: ${order.phone}`
                        if(order.altphone)
                            p.m-1.small= `Altp.m-1.smallhone: ${order.altphone}`
                        else
                            p.m-1.small= `AltPhone: None`
                    
                    h5.m-1 Delivery Address:
                    .col-12
                        p.m-1.small=`${order.address}`
                        p.m-1.small=`${order.area}, ${order.state}, Nigeria`
                             
                .d-flex.justify-content-between.mx-3.my-2
                    p.m-1.small= product.productName
                    p.m-1.small= `₦${productprice}`
                if (order.colour)
                    .d-flex.justify-content-between.mx-3
                        p.m-1.small Colour
                        p.m-1.small= order.colour
                if (order.size)
                    .d-flex.justify-content-between.mx-3
                        p.m-1.small Size
                        p.m-1.small= order.size
                .d-flex.justify-content-between.mx-3
                    p.m-1.small Quantity
                    p.m-1.small= order.qty

                .d-flex.justify-content-between.mx-3
                    p.m-1.small.font-weight-bold Total:
                    p.m-1.small.font-weight-bold= `#${orderTotal}`

            if  (product.discount > 0) 
                p.mx-2.text-center(style = 'font-size: 1.2rem; font-weight: 500;')=`For today, you enjoy ${product.discount}% discount if you pay with RiraPay Now! This means you're paying ₦${strdiscountprice} instead of ₦${orderTotal}`

            .text-center
                button#pay-btn.checkout1-button.btn.btn-lg.mt-3.my-0(type= 'submit' onclick='payWithMonnify()')= `Pay ₦${strdiscountprice}`
                small.form-text.mx-2.mb-3.mt-0 Enjoy 100% Buyer Protection
            if (product.codOption === true)
                form#not_interested_form
                    .text-center
                        a.btn.btn-lg#notBtn.mt-3.mb-0(href=`/pod/${order._id}`  style='background-color: aliceblue;')= `I want Pay On Delivery(₦${orderTotal})`
                        small.form-text.mx-2.mb-3.mt-0= `Note: You're paying ₦${orderTotal} for pay on delivery. Click if you want.`
                            
            input#successpage(type='hidden', name='successpage', value= `/success/${order._id}`)
            input#email(type='hidden', name='email', value= order.email)
            input#productName(type='hidden', name='email', value= product.productName)
            input#total(type='hidden', name='total', value= discountPrice)
            input#name(type='hidden', name='name', value= order.name)
            input#phoneNum(type='hidden', name='name', value= order.phone)
            input#newOrderNum(type='hidden', name='newOrderID', value= order.orderNum)
            input#orderid(type='hidden', name='orderid', value= order._id)

            script.
                function payWithMonnify() {
                    const phoneNum = document.getElementById('phoneNum').value;
                    const totalAmount = document.getElementById('total').value;
                    const refOrderId = document.getElementById('orderid').value;
                    const cusName = document.getElementById('name').value;
                    const orderNum = document.getElementById('newOrderNum').value;
                    const cusEmail = document.getElementById('email').value;
                    const productName = document.getElementById('productName').value;
                    MonnifySDK.initialize({
                        amount: totalAmount,
                        currency: "NGN",
                        reference: '' + Math.floor((Math.random() * 1000000000) + 1),
                        customerName: `${cusName} ${orderNum}`,
                        customerEmail: cusEmail,
                        customerMobileNumber: phoneNum,
                        apiKey: "MK_TEST_EE7BJH3XWA",
                        contractCode: "8425819241",
                        paymentDescription: `${productName} Payment RiraPay`,
                        isTestMode: true,
                        paymentMethods: ["CARD", "ACCOUNT_TRANSFER"],
                        metadata: {
                            "OrderId": `${refOrderId}`,
                            },
                        onComplete: function(response){
                            window.location = document.getElementById('successpage').value;
                        },
                        onClose: function(){
                            location.reload();
                        }
                    });
                }
